<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org">
<head>
  <title><%= title %></title>
</head>
<body>
<section ng-view></section>

<script>
	window.user = <%- user || 'null' %>;
</script>

<script src="/lib/angular/angular.js"></script>
<script src="/lib/angular-route/angular-route.js"></script>
<script src="/lib/angular-resource/angular-resource.js"></script>

<script src="/articles/articles.client.module.js"></script>
<script src="/articles/controllers/articles.client.controller.js"></script>
<script src="/articles/services/articles.client.service.js"></script>
<script src="/articles/config/articles.client.routes.js"></script>

<script src="/example/example.client.module.js"></script>
<script src="/example/controllers/example.client.controller.js"></script>
<script src="/example/config/example.client.routes.js"></script>

<script src="/users/users.client.module.js"></script>
<script src="/users/services/authentication.client.service.js"></script>

<script src="/application.js"></script>
</body>
</html>
